<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">

<head>
    <title>CIS Shop Item(메인)</title>

    <script>
        $(function(){

            // nav accordion
            $('.list-group-item').click(function(e) {
                //alert("click");
                e.preventDefault();

                var $this = $(this);

                if ($this.hasClass('active')) {
                    $this.next().removeClass('active');

                } else {
                    $(".list-group a").removeClass("active");
                    $this.addClass('active');

                }
            });

            shoplist();
        })
        function shoplist(){


            var $schList = $('#shoplist');

            var params = {
                //userid:$("#s_userid").val(),

            };

            $schList.empty();



            // // html += '<a href="#" class="list-group-item active">가게 1</a>'
            // // html += '<a href="#" class="list-group-item">가게 2</a>'
            // // $schList.html(html);
            // $.ajax({
            //     crossOrigin : true,
            //     dataType : "json",
            //     url : "http://localhost:8181/api/v1/shops",
            //     success : function(data) {
            //         console.log(data);
            //     }
            // });

            $.ajax({
                url:'http://localhost:8181/api/v1/shops',
                crossOrigin : true,
                type : 'GET',
                //dataType: json,
                data : {},
                cache:false,
                error:function(request,status,error){
                    //alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
                success: function(res){
                    //화면 출력



                    let html = '';
                    $.each(res, function(key, value){

                        if (key ==0)
                            html += '<a href="#" class="list-group-item active">'+value.shopName+'</a>'
                        else
                            html += '<a href="#" class="list-group-item">'+value.shopName+'</a>'

                    });
                    $schList.html(html);
                }
            });
        }

    </script>

</head>


<div layout:fragment="content" class="contents-body">

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <h1 class="my-4">Open Shop List</h1>
                <div class="list-group" id="shoplist">
                    <a href="#" class="list-group-item active">가게</a>

                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Product Name</h3>
                        <h4>$24.99</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
                        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                        4.0 stars
                    </div>
                </div>
                <!-- /.card -->

                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        Product Reviews
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <a href="#" class="btn btn-success">Leave a Review</a>
                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
    <!-- /.container -->

</div>
</html>